@font-face {
    font-family: "Fira Sans";
    src: url('assets/fonts/LibreBaskerville-Regular.ttf');
    src: url('assets/fonts/LibreBaskerville-Italic.ttf') format('italic'),
         url('assets/fonts/LibreBaskerville-Bold.ttf') format('bold');
}


html {
    padding: 30pt;
  }


body{
    margin: auto;
    background-color: rgb(237, 237, 237);
    color: rgb(50, 50, 50);
    font-family: 'Fira Sans', Georgia, 'Times New Roman', Times, serif;

}

.imagen{
    text-align: center;
}

.imagen img{
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.titulo{
    font-size: 1.8em;
    text-align: justify;
        line-height: 3;
    max-width: 800px;
    margin: auto;

}

.about{
    font-size: 1.8em;
    line-height: 3;
    max-width: 800px;
    margin: auto;
}


.text{
    font-size: 1em;
    line-height: 2;
    max-width: 700px;
    text-align: justify;
    text-align-last: left;
margin: auto;

}
